JavaClient/target/*
JavaClient/bin/*
JavaClient/.classpath
JavaClient/.settings

Playground/*.log
Playground/logs/*
Playground/project/project
Playground/project/target
Playground/target
Playground/tmp
Playground/.history
Playground/dist
Playground/.settings
Playground/RUNNING_PID*
Playground/.classpath
Playground/.cache
Playground/*~
Playground/.target/*
Playground/.target
Playground/local.conf
Playground/bin/*

*.swp

