@(title: String)(response: String)

<head>
	<title>Playground</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="pt-br" />
	<meta name="author" content="Diego Duarte" />
	<meta name="copyright" content="Diego Duarte" />
	<meta name="description" content="" />
	<meta http-equiv="cache-control" content="public" />
	<meta http-equiv="expires" content = "0" />
	<meta name="keywords" content="" />
	<meta name="robots" content="all" />

	<!-- CSSs -->
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-responsive.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

	<!-- SCRIPTs -->
	<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.js")" type="text/javascript"></script>
		
</head>


<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{% url main %}">Playground</a>
			</div>
		</div>
	</div>

	<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<div class="well sidebar-nav">
							<ul class="nav nav-list">
								<li><a href="#">Home</a></li>
								
								<li class="nav-header">Methods</li>
								<li class="active"><a href="#">/medias</a></li>
								<li><a href="#">/channels</a></li>
							</ul>
					</div>
		        </div>
				<div class="span10">
					<div id="home">
						<h3>/medias</h3>
						
						<form>
						    
						    <div class="input-prepend">
						    	<span class="add-on">APIKey</span><input type="text" maxlength="32" class="span4">
						    </div>
						    
						    <legend>Request Settings</legend>
						    
						    <label>API Base URL</label>
						    <input type="text" class="span4">
						    
						    <label>Timeout</label>
						    <input type="text" class="span4">
						    
						    <legend>Request Options</legend>
						    
						    
   						    <div class="input-prepend">
						    	<span class="add-on">first</span><input type="text" maxlength="16" class="span1">
						    </div>

   						    <div class="input-prepend">
						    	<span class="add-on">limit</span><input type="text" maxlength="16" class="span1">
						    </div>

   						    <div class="input-prepend">
						    	<span class="add-on">search</span><input type="text" maxlength="64" class="span4">
						    </div>

   						    <div class="input-prepend">
						    	<span class="add-on">recursiveChannel</span><input type="text" maxlength="5" class="span1">
						    </div>

   						    <div class="input-prepend">
						    	<span class="add-on">filter</span><input type="text" maxlength="64" class="span4">
						    </div>

   						    <div class="input-prepend">
						    	<span class="add-on">orderBy</span><input type="text" maxlength="32" class="span4">
						    </div>

							<div class="btn-group">
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									Sort
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a id="sort_asc">asc</a>
									</li>
									
									<a id="sort_desc"href="#">desc</a>
								</ul>
							</div>
						    <br/><br/>
						    <button type="submit" class="btn">Enviar</button>
						</form>

					    <div id="request">
					    	<legend>Request</legend>
													    	
							<ul class="nav nav-tabs">
							  <li class="active">
							    <a href="#">HTML</a>
							  </li>
							  <li><a href="#">Java</a></li>
							</ul>
											    	
					    	<div id="request_html">
					    		<pre class="span10">HTML request...</pre>
					    	</div>
 						    	<div id="request_java">
					    		<pre class="span10">Java request...</pre>
					    	</div>
					    	
					    </div>

					    <div id="response">
					    	<legend>Response</legend>
					    	<pre class="span10">@Xml(response)</pre>
					    </div>


						<!--
							<div id="code">  
								<pre>
									<code>
										<iframe id="iframe" src="http://fast.api.liquidplatform.com/2.0/medias/?key=18a3dcacfff63aca5dd93594eb658098&first=0&limit=30&ordeBy=lastModified&sort=desc" width="800" height="300"></iframe>
									</code>
								</pre>
							</div>
						 -->
												
						
					</div>
				</div>
			</div>
	</div>


<script language="javascript">
	
	$(document).ready(function() {

		//alert($("#iframe").contents().find("fileName").html());
		//alert($("#iframe").contents().html());

		//$('#iframe').load(function(){this.contentWindow.print();$(this).unbind('load');}).attr('src', "http://fast.api.liquidplatform.com/2.0/medias/?key=18a3dcacfff63aca5dd93594eb658098&first=0&limit=30&ordeBy=lastModified&sort=desc&filter=lastModified");
		/*
		$("#iframe").attr('src',"http://fast.api.liquidplatform.com/2.0/medias/?key=18a3dcacfff63aca5dd93594eb658098&first=0&limit=30&ordeBy=lastModified&sort=desc&filter=lastModified");
		
		var frame = document.getElementById('iframe');
		frame = frame.contentWindow;
		
		frame.focus();
		//alert(frame.print());
		alert(frame);

		//$("#response_text").html(frame);
		
		$("#response_text").val(frame);
		alert($("#response_text").val());

		//escape($("#code").html());
		//$("#code2").html(escape($("#code").html()));

		*/
		
		
		//alert("Hello!");

		//var url = "http://fast.api.liquidplatform.com/2.0/medias/?key=18a3dcacfff63aca5dd93594eb658098&first=0&limit=30&ordeBy=lastModified&sort=desc&filter=lastModified ";
		//var url = "http://teclamkt.com.br"
		
		//var url = "http://www.evolutionconsulting.com.br/";
		
		
		//var url = "http://www.teclamkt.com.br/site_media/css/estilo_login.css";
		/*
		var url = "http://fast.api.liquidplatform.com/2.0/medias/?key=18a3dcacfff63aca5dd93594eb658098&first=0&limit=30&ordeBy=lastModified&sort=desc&filter=lastModified ";
		$.get(url, function(data) {
		    alert("Data Loaded: " + data);
		});
		*/
		
		

		/*
		$.ajax({
		     url:"http://docs.liquidplatform.com.br	",
		     dataType: 'jsonp', // Notice! JSONP <-- P (lowercase)
		     success:function(json){
		         // do stuff with json (in this case an array)
		         alert("Success");
		     },
		     error:function(){
		         alert("Error");
		     },
		});
		*/
		
	});
</script>

</body>
</html>