@(playgroundRequest: controllers.response.PlaygroundResponse)

<head>
	<title>Playground</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="pt-br" />
	<meta name="author" content="Diego Duarte" />
	<meta name="copyright" content="Diego Duarte" />
	<meta name="description" content="" />
	<meta http-equiv="cache-control" content="public" />
	<meta http-equiv="expires" content = "0" />
	<meta name="keywords" content="" />
	<meta name="robots" content="all" />

	<!-- CSSs -->
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-responsive.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/syntaxhighlighter/shCoreDefault.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

	<!-- SCRIPTs -->
	<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/playground.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/syntaxhighlighter/shCore.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/syntaxhighlighter/shBrushJava.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/syntaxhighlighter/shBrushXml.js")" type="text/javascript"></script>
		
</head>


<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{% url main %}">Playground</a>
			</div>
		</div>
	</div>

	<div id="main-content" class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<div class="well sidebar-nav">
							<ul class="nav nav-list">
								<li><a href="#">Home</a></li>
								
								<li class="nav-header">Methods</li>
								
								<li class="endpoint-li" id="li-endpoint-medias"><a id="endpoint-medias">/medias</a></li>
								<li class="endpoint-li" id="li-endpoint-medias-count"><a id="endpoint-medias-count">/medias/count</a></li>
								<li class="endpoint-li" id="li-endpoint-medias-ratings"><a id="endpoint-medias-ratings">/medias/ratings</a></li>
								<li class="endpoint-li" id="li-endpoint-medias-views"><a id="endpoint-medias-views">/medias/views</a></li>
								<li class="endpoint-li" id="li-endpoint-medias-mediaid"><a id="endpoint-medias-mediaid">/medias/{mediaId}</a></li>
								
								<li class="endpoint-li" id="li-endpoint-medias-urls-mediafileid"><a id="endpoint-medias-urls-mediafileid">/medias/urls/{mediaFileId}</a></li>
								<li class="endpoint-li" id="li-endpoint-medias-views-mediafileid"><a id="endpoint-medias-views-mediafileid">/medias/views/{mediaFileId}</a></li>
								
								<li class="endpoint-li" id="li-endpoint-medias-mediaid-rating"><a id="endpoint-medias-mediaid-rating">/medias/{mediaId}/rating</a></li>
								<li class="endpoint-li" id="li-endpoint-medias-mediaid-related"><a id="endpoint-medias-mediaid-related">/medias/{mediaId}/related</a></li>
								<li class="endpoint-li" id="li-endpoint-medias-mediaid-thumbs"><a id="endpoint-medias-mediaid-thumbs">/medias/{mediaId}/thumbs</a></li>
								<li class="endpoint-li" id="li-endpoint-medias-mediaid-views"><a id="endpoint-medias-mediaid-views">/medias/{mediaId}/views</a></li>
								
								<li class="endpoint-li" id="li-endpoint-medias-urls-mediaid-outputname"><a id="endpoint-medias-urls-mediaid-outputname">/medias/urls/{mediaId}/{outputName}</a></li>
								<li class="endpoint-li" id="li-endpoint-medias-mediaid-views-outputname"><a id="endpoint-medias-mediaid-views-outputname">/medias/{mediaId}/views/{outputName}</a></li>
								
								<li class="endpoint-li" id="li-endpoint-channels"><a id="endpoint-channels">/channels</a></li>
								<li class="endpoint-li" id="li-endpoint-channels-count"><a id="endpoint-channels-count">/channels/count</a></li>
								<li class="endpoint-li" id="li-endpoint-channels-channelid"><a id="endpoint-channels-channelid">/channels/{channelId}</a></li>
								
								<li class="endpoint-li" id="li-endpoint-outputs"><a id="endpoint-outputs">/outputs</a></li>
								<li class="endpoint-li" id="li-endpoint-outputs-count"><a id="endpoint-outputs-count">/outputs/count</a></li>
								
								<li class="endpoint-li" id="li-endpoint-report-detail-traffic"><a id="endpoint-report-detail-traffic">/report/detail/traffic</a></li>
								<li class="endpoint-li" id="li-endpoint-report-detail-medias"><a id="endpoint-report-detail-medias">/report/detail/medias</a></li>
								<li class="endpoint-li" id="li-endpoint-report-detail-views"><a id="endpoint-report-detail-views">/report/detail/views</a></li>
								<li class="endpoint-li" id="li-endpoint-report-detail-storage"><a id="endpoint-report-detail-storage">/report/detail/storage</a></li>
								
							</ul>
					</div>
		        </div>
				<div class="span9">

					<div id="home">
						<h3>/medias</h3>

						<form id="form" method="post">
							<input type="hidden" id="method" name="method" class="span4" value="">
							<input type="hidden" id="endpoint-field" name="endpoint" class="span4" value="">
						    
						    <div class="input-prepend">
						    	<span class="add-on required">APIKey</span><input type="text" id="apikey" name="apikey" maxlength="32" class="span4" value="@playgroundRequest.apikey">
						    </div>
						    
						    
						    <legend>Request Options</legend>
						    
							<div class="row-fluid">
								<div id="search-field">
									<label>Search</label>
									<input type="text" name="search" maxlength="64" class="input-field span8">
								</div>
							</div>
							
							<div class="row-fluid">
								<div id="first-field" class="span3">
									<label>First</label>
									<input type="text" name="first" maxlength="16"  class="input-field span12">
								</div>
								
								<div id="limit-field" class="span3">
									<label>Limit</label>
									<input type="text" name="limit" maxlength="16"  class="input-field span12">
								</div>
							</div>
						  
							<div class="row-fluid">
								<div id="filter-field" class="span8">
									<label>Filter</label>
									<input type="text" name="filter" maxlength="64" class="input-field span12">
								</div>
							</div>

						  	<div class="row-fluid">
						  		<div id="orderby-field" class="span3">
		   						    <label>OrderBy</label>
								    <select name="orderBy" class="span12">
								    	<option selected="selected" value="">Selecione</option>
										<option>POST_DATE</option>
										<option>LAST_MODIFIED</option>
										<option>TITLE</option>
										<option>PUBLISH_DATE</option>
										<option>COMMENTS</option>
										<option>RATINGS</option>
										<option>VIEWS</option>
									</select>
								</div>
								<div id="sort-field" class="span3">
		   						    <label>Sort</label>
								    <select name="sort" class="span12">
								    	<option selected="selected" value="">Selecione</option>
										<option>ASC</option>
										<option>DESC</option>
									</select>
								</div>
						  	</div>
						  	
						  	<div class="row-fluid">
						  		<div id="recursivechannel-field" class="span8">
		   						    <label>Recursive Channel</label>
						  			<label class="radio inline">
  										<input type="radio" name="recursiveChannel" value="false">
										False
									</label>
						  			<label class="radio inline">
  										<input type="radio" name="recursiveChannel" value="true">
										True
									</label>
								</div>
						  	</div>

							<br />
							
 							<div class="row-fluid">
								<div id="mediaid-field" class="span3">
									<label>Media ID</label>
									<input type="text" name="mediaId" maxlength="64"  class="input-field span12">
								</div>
							</div>

 							<div class="row-fluid">
								<div id="outputname-field" class="span3">
									<label>Output Name</label>
									<input type="text" name="outputName" maxlength="64"  class="input-field span12">
								</div>
							</div>
							
							<div class="row-fluid">
								<div id="mediafileid-field" class="span3">
									<label>MediaFile ID</label>
									<input type="text" name="mediaFileId" maxlength="64"  class="input-field span12">
								</div>
							</div>

							<div class="row-fluid">
								<div id="channelid-field" class="span3">
									<label>Channel ID</label>
									<input type="text" name="channelId" maxlength="64"  class="input-field span12">
								</div>
							</div>
							
							<div class="row-fluid">
								<div id="sessionid-field" class="span3">
									<label>Session ID</label>
									<input type="text" name="sessionId" maxlength="64"  class="input-field span12">
								</div>
								
								<div id="quarter-field" class="span3">
									<label>quarter</label>
									<input type="text" name="quarter" maxlength="3"  class="input-field span12">
								</div>
							</div>

 							<div class="row-fluid">
								<div id="date-field" class="span3">
									<label>Date (aaaammddhhmmss)</label>
									<input type="text" name="date" maxlength="14"  class="input-field span12">
								</div>
							</div>
							
 							<div class="row-fluid">
								<div id="lastmodified-field" class="span3">
									<label>Last Modified (aaaammddhhmmss)</label>
									<input type="text" name="lastModified" maxlength="14"  class="input-field span12">
								</div>
							</div>
							
 							<div class="row-fluid">
								<div id="begin-field" class="span3">
									<label>Begin (aaaammddhhmmss)</label>
									<input type="text" name="begin" maxlength="14"  class="input-field span12">
								</div>
							</div>
							
 							<div class="row-fluid">
								<div id="end-field" class="span3">
									<label>End (aaaammddhhmmss)</label>
									<input type="text" name="end" maxlength="14"  class="input-field span12">
								</div>
							</div>							
						  	
						  	
						  	<br />
						  	
						  	
						  	<h5>
						  		Advanced Options <i id="advanced-options-label" class="icon-download"></i>
						  	</h5>
						  	<div id="advanced-options" class="row-fluid" style="display: none;">
						  		<div id="apiBaseUrl-div" class="span6">
		   						    <label>API Base URL</label>
						  			<input type="text" name="apiBaseUrl" maxlength="64" class="span12">
								</div>
								<div id="timeout-div" class="span2">
		   						    <label>Timeout</label>
						  			<input type="text" name="timeout" maxlength="16" class="span12">
								</div>
						  	</div>
						  	
						  	<br />
						    <input type="button" class="btn btn-success" id="btn-get" value="Get">
						    <input type="button" class="btn btn-warning" id="btn-put" value="Put">
						    <input type="button" class="btn btn-danger" id="btn-delete" value="Delete">
						    <input type="button" class="btn btn-primary" id="btn-post" value="Post">
						</form>


						<!-- Request -->

						<div class="row-fluid">						
						    <div name="request" id="request" class="span12">
						    	<legend>Request</legend>
														    	
								<ul class="nav nav-tabs">
								  <li id="request_html_li">
								    <a href="#request" id="request_html_link">HTML</a>
								  </li>
								  <li id="request_java_li">
								  	<a href="#request" id="request_java_link">Java</a>
								  </li>
								</ul>
												    	
						    	<div id="request_html">
						    		<pre class="span10">@playgroundRequest.url</pre>
						    	</div>
	 						    <div id="request_java">
						    		<pre class="span10">Java request... TODO</pre>
						    	</div>
						    	
						    </div>
						</div>
						
						<div class="row-fluid">
							<!-- Response -->
						    <div id="response" class="span12">
						    	<legend>Response</legend>
						    	<div id="response2">
						    		<pre class="brush: xml">@Xml(playgroundRequest.responseBody)</pre>
						    	</div>
						    </div>
						</div>

						
					</div>
				</div>
				
			</div>
	</div>
</body>
</html>